<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlbionRadar.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AlbionRadar.AppSettings>
            <setting name="radarPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="radarPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showRadar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showMobs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trustGuilds" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="trustAlliances" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="alertSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayOption" serializeAs="String">
                <value>cbName</value>
            </setting>
        </AlbionRadar.AppSettings>
    </userSettings>
</configuration>