<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlbionNetwork2D.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AlbionNetwork2D.AppSettings>
            <setting name="radarPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="radarPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="showMobs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPlayers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trustGuilds" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="trustAlliances" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="alertSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayOption" serializeAs="String">
                <value>cbName</value>
            </setting>
            <setting name="showTier1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTier2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTier3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showTier4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTier5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTier6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTier7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTier8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showHarvestable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mobFilterFibra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mobFilterPedra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mobFilterPelego" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mobFilterMinerio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resourceFilterFibra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resourceFilterPedra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resourceFilterPelego" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resourceFilterMinerio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mobFilterMadeira" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resourceFilterMadeira" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resourceFilterAmount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showDungeon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tagAllys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tagEnemies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rangedMelee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mapScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>EN</value>
            </setting>
        </AlbionNetwork2D.AppSettings>
    </userSettings>
</configuration>